@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    font-family: 'Roboto Condensed';
}
.introduction{
    display:flex;
    justify-content: center;
}
.introduction h1{
    margin-top:10px;
    margin-bottom:5px;

}

.main-game-container{
    margin-top:30px;
    margin-left:38%;
    width:310px;
    height:310px;
}
.element-1-1,.element-1-2,.element-1-3,.element-2-1,.element-2-2,.element-2-3,.element-3-1,.element-3-2,.element-3-3{
    background-color: rgb(31, 235, 140);
    border:2px solid white;
    width:100px;
    height: 100px;
    transition:0.5s;
    font-size: 100px;
}
.row1{
    display:flex;
}
.row3{
    display:flex;
}
.row2{
    display:flex;
}

.element-1-1:hover,.element-1-2:hover,.element-1-3:hover,.element-2-1:hover,.element-2-2:hover,.element-2-3:hover,.element-3-1:hover,.element-3-2:hover,.element-3-3:hover{
    background-color: white;
    border:2px solid rgb(31, 235, 140);
    cursor:pointer;
}

.restart{
    font-size: 40px;
    margin-top:20px;
    border-radius:20px;
    margin-left:20%;
    margin-bottom: 50px;
}
.current-turn{
    margin-top:20px;
    margin-left: 40%;
    font-size : 50px;
}
.results{
    font-size:38.9px;
    margin-top: 20px;
}
.guide{
    margin-left: 37%;
    color:blue;
}